body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.zikr-container {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80%;
  max-width: 600px;
}

h1 {
  color: #4CAF50;
}

.zikr {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.arabic {
  font-size: 2em;
  margin-top: 10px;
  color: #1E90FF;
}

.button-container {
  margin-top: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}
